---
import { base16 } from './vars-defaults.js'
---

<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {
      base16.map(([v, defs]) => (
        <tr>
          <td class="varname">{v}</td>
          <td>
            <ul>
              {defs.map((d) => (
                <li>{d}</li>
              ))}
            </ul>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  table {
    width: 100%;
  }

  tbody,
  ul,
  li {
    font-size: 16px;
    font-family: monospace;
  }

  ul {
    padding-left: 1em;
  }

  td {
    width: 100%;
    text-wrap: nowrap;
  }

  .varname {
    /* text-align: center; */
    vertical-align: middle;
    border-right: 1px solid;
  }
</style>
