:root {
  --base00: #1e2c3e;
  --base01: #31455e;
  --base02: #151d29;
  --base03: #6d819c;
  --base04: #ffffff;
  --base05: #dbdbdc;
  --base06: #fff2c2;
  --base07: #ffffff;
  --base08: #ff5c7c;
  --base09: #d1ae00;
  --base0A: #ffd285;
  --base0B: #8fff96;
  --base0C: #81eced;
  --base0D: #81ecee;
  --base0E: #ff8af5;
  --base0F: #ffffff;

  --hdr-gradient: linear-gradient(
    146deg in oklab,
    rgb(30, 31, 53) 52% 52%,
    oklch(35% 0.12 261) 102% 102%
  );
  --sdr-gradient: linear-gradient(146deg, #1e1f35 52% 52%, #1e2c3e 102% 102%);

  --cyan: var(--base0C, #00c1be);
  --yellow: var(--base0A, #e1ff7f);
  --green: var(--base0B, #5faa70);
  --red: var(--base08, #b03a3a);
  --purple: var(--base0E, #8f42ae);
  --blue: var(--base0D, #6a6ace);
  --orange: var(--base09, #c6903a);

  --bg: rgb(30, 31, 53);
  --bg-code: var(--base00);
  --bg-lighter: var(--base01, #250060);
  --bg-light: var(--base07);
  --selection: var(--base02);
  --comments: var(--base03, #59456e);
  --border-color: var(--base03, var(--comments));
  --dark-fg: var(--base04);
  --fg: var(--base05, #b9a9be);
  --fg-light: var(--base06);

  --error: var(--red);
  --delimiter: var(--red);
  --keyword: var(--red);
  --number: var(--purple);
  --number-type: var(--red);
  --boolean: var(--purple);
  --class: var(--blue);
  --string: var(--yellow);
  --string-type: var(--purple);
  --regex: var(--cyan);
  --symbol: var(--cyan);
  --function: var(--green);
  --object-type: var(--cyan);
  --object: var(--blue);
  --interactive: var(--base0E);
  --deprecated: var(--base0F);
  --indent: 0.5em;
}

html {
  background: var(--sdr-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg);
  background-size: 100% 100%;
  overscroll-behavior: none;
  /* height: 100%; */
}

body {
  box-sizing: border-box;
  overscroll-behavior: none;

  color: var(--fg);
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-optical-sizing: auto;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: bold;
}

h3 {
  margin-top: 1em;
}

h2 {
  font-size: 1.75em;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  /* margin-top: 1rem; */
  /* margin-left: 1rem; */
}

input[type='number'],
input[type='text'],
select {
  height: 1.5em;
  font-size: 12px;
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--border-color);
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
  max-width: 100%;
  /* background-color: antiquewhite; */
  /* width: 100%; */
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  /* outline: 1px solid red; */
  /* margin-inline: 2em; */
}

button {
  all: unset;
  border: 1px solid var(--border-color);
  font-size: 12px;
  padding: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 100ms linear;

  &:hover:not(:disabled) {
    background-color: var(--border-color);
  }

  &:disabled {
    cursor: auto;
    color: var(--border-color);
  }
}

label {
  font-family: monospace;
  /* height: 3.5rem; */
  display: flex;
  /* border: 1px solid; */
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  font-size: 12px;
  /* gap: 0.5rem; */
  /* padding: 1em; */
}

button {
  font-family: monospace;
}

p code,
ul code,
table code {
  font-family: monospace;
  background-color: var(--bg-lighter);
  border-radius: 2px;
  padding-inline: 0.3em;
  font-size: 0.8em;
}

a {
  color: var(--fg);
}

button.unstyled {
  all: unset;
  font-family: monospace;
  cursor: pointer;

  &:disabled {
    color: var(--border-color);
  }
}

.gap {
  gap: 1em !important;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end !important;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.w-max {
  width: 100%;
}

.eb-garamond {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

/** TOC **/

.toc {
  display: none;
  transition: all 250ms ease-in;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 1em;
  position: fixed;
  /* display: flex; */
  right: 0;
  top: 50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;

  max-height: max-content;
  flex-direction: column;
  opacity: 0.5;
  transform: translateX(50%);
  z-index: 50;

  hr {
    transition: all 250ms ease-in;
  }

  &:hover {
    background-color: var(--bg);
    /* border-color: var(--border-color);
    border-width: 1px 0 1px 1px;
    border-style: solid; */
    opacity: 1;
    transform: translateX(0);

    a {
      opacity: 1;
      color: var(--fg);
      background-color: transparent;
    }

    hr {
      opacity: 0;
      border-color: var(--border-color);
    }
  }

  a {
    opacity: 0;
    transition: all 250ms ease-in;
    font-size: 0.857em;
    margin-top: 2px;
    line-height: 1;
    padding: 0.25em;
    text-decoration: none;
    color: var(--comments);
    /* background-color: var(--comments); */
    border-radius: 8px;
  }
}

@media (min-width: 1024px) {
  .toc {
    display: flex;
  }
}
