---
import Default from '@astrojs/starlight/components/Sidebar.astro'
import GlobalOptions from '@components/global-opts/GlobalOptions.svelte'
---

<div class="sidebar not-content">
  <div class="default not-content">
    <Default />
  </div>
  <GlobalOptions client:only="svelte" transition:persist />
</div>

<style>
  .sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }

  .default {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    /* border-radius: 8px; */
    /* background-color: var(--sl-color-gray-5); */
    /* background: linear-gradient(to top, rgb(0 0 0 / 0.1), transparent 10%); */
    height: auto;
    overflow-y: auto;
  }
</style>
