body,
html {
  background-color: #1e2237;
  color: #fafafa;
  font-family: monospace;
}

label {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid #888;
  padding-inline: 0.5em;
  font-size: 10px;
}

input,
select {
  background-color: black;
  color: #fafafa;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
