.ace-inspect-light .ace_gutter {
  background: #282a36;
  color: rgb(144, 145, 148);
}

.ace-inspect-light .ace_print-margin {
  background: #44475a;
  width: 1px;
}

.ace-inspect-light {
  --base00: #e8e8e8;
  --base01: #d8d8d8;
  --base02: #f8f8f8;
  --base03: #b8b8b8;
  --base04: #585858;
  --base05: #383838;
  --base06: #282828;
  --base07: #181818;
  --base08: #ab4642;
  --base09: #dc9656;
  --base0A: #9d5e00;
  --base0B: #75834e;
  --base0C: #5f8681;
  --base0D: #3e9cbe;
  --base0E: #ba8baf;
  --base0F: #a16946;
  background-color: transparent;
  color: var(--base05);
  /* font-family: monospace !important; */
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.ace-inspect-light .ace_cursor {
  color: var(--base0B);
}

.ace-inspect-light .ace_punctuation {
  color: var(--base05);
}

.ace-inspect-light .ace_identifier + .ace_punctuation {
  color: var(--base08);
}

.ace-inspect-light .ace_marker-layer .ace_selection {
  background: var(--base02);
}

.ace-inspect-light.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #282a36;
  border-radius: 2px;
}

.ace-inspect-light .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.ace-inspect-light .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #a29709;
}

.ace-inspect-light .ace_marker-layer .ace_active-line {
  background: #44475a;
}

.ace-inspect-light .ace_gutter-active-line {
  background-color: #44475a;
}

.ace-inspect-light .ace_marker-layer .ace_selected-word {
  box-shadow: 0px 0px 0px 1px #a29709;
  border-radius: 3px;
}

.ace-inspect-light .ace_fold {
  border-color: #f8f8f2;
  background-color: var(--base0B);
}

.ace-inspect-light .ace_keyword {
  color: var(--base0E);
}

.ace-inspect-light .ace_constant.ace_language {
  color: var(--base0E);
}

.ace-inspect-light .ace_constant.ace_numeric {
  color: var(--base0E);
}

.ace-inspect-light .ace_constant.ace_character {
  color: var(--base0E);
}

.ace-inspect-light .ace_constant.ace_character.ace_escape {
  color: var(--base0E);
}

.ace-inspect-light .ace_constant.ace_other {
  color: var(--base0E);
}

.ace-inspect-light .ace_support.ace_function {
  color: var(--base0B);
}

.ace-inspect-light .ace_support.ace_constant {
  color: var(--base0C);
}

.ace-inspect-light .ace_support.ace_class {
  color: var(--base0C);
  font-style: italic;
}

.ace-inspect-light .ace_support.ace_type {
  color: var(--base0D);
  font-style: italic;
}

.ace-inspect-light .ace_storage {
  color: var(--base0E);
}

.ace-inspect-light .ace_storage.ace_type {
  color: var(--base0D);
  font-style: italic;
}

.ace-inspect-light .ace_invalid {
  background-color: var(--base08);
  color: #f8f8f0;
}

.ace-inspect-light .ace_invalid.ace_deprecated {
  background-color: #bd93f9;
  color: #f8f8f0;
}

.ace-inspect-light .ace_string {
  color: var(--base0A);
}

.ace-inspect-light .ace_comment {
  color: var(--base03);
}

.ace-inspect-light .ace_variable {
  color: var(--base0D);
}

.ace-inspect-light .ace_variable.ace_parameter {
  color: #ffb86c;
  font-style: italic;
}

.ace-inspect-light .ace_entity.ace_other.ace_attribute-name {
  color: var(--base0B);
}

.ace-inspect-light .ace_entity.ace_name.ace_function {
  color: var(--base0B);
}

.ace-inspect-light .ace_entity.ace_name.ace_tag {
  color: #ff79c6;
}
.ace-inspect-light .ace_invisible {
  color: #626680;
}

.ace-inspect-light .ace_indent-guide {
  background: url('../dracula-1.png') right repeat-y;
}

.ace-inspect-light .ace_indent-guide-active {
  background: url('../dracula-2.png') right repeat-y;
}
